.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}

.search-container input {
  width: 350px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #14357b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #1d4ed8;
}