.category-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
    cursor:pointer;
}

.category-table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
}

.category-table th,
.category-table td{
    padding:15px;
    border-bottom:1px solid #ddd;
    text-align:left;
}

.category-table th{
    background:#111827;
    color:white;
}

.edit-btn{
    background:#22c55e;
    color:white;
    border:none;
    padding:8px 12px;
    margin-right:8px;
    border-radius:5px;
    cursor:pointer;
}

.delete-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}