/* Background */
.forgot-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
    padding: 30px;
}

/* Card */
.forgot-card {
    width: 520px;
    background: #fff;
    border-radius: 18px;
    padding: 45px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

/* Heading */
.forgot-card h1 {
    text-align: center;
    color: #111;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* Subtitle */
.forgot-card p {
    text-align: center;
    color: #666;
    font-size: 18px;
    margin-bottom: 35px;
}

/* Label */
.input-group {
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #111;
    text-align: left;
}

/* Input */
.input-group input {
    width: 100%;
    height: 58px;
    border: 2px solid #d9d9d9;
    border-radius: 12px;
    padding: 0 18px;
    font-size: 17px;
    outline: none;
    transition: 0.3s;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #000;
}

/* Password field */
.password-field {
    position: relative;
}

.password-field input {
    padding-right: 55px;
}

/* Eye button */
.eye-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}

.eye-btn:hover {
    color: #000;
}

/* Reset Button */
.register-btn {
    width: 100%;
    height: 58px;
    border: none;
    border-radius: 12px;
    background: #111;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s;
}

.register-btn:hover {
    background: #000;
}

/* Back to Login */
.login-text {
    text-align: center;
    margin-top: 25px;
    font-size: 17px;
    color: #111;
    cursor: pointer;
    font-weight: 600;
}

.login-text:hover {
    text-decoration: underline;
}

/* Error */
.input-error {
    border: 2px solid #dc3545 !important;
}

.error-text {
    display: block;
    color: #dc3545;
    margin-top: 6px;
    text-align: left;
    font-size: 14px;
}

/* Success */
.success-text {
    display: block;
    color: #198754;
    margin-top: 6px;
    text-align: left;
    font-size: 14px;
}